.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container {
  margin : 3vh;
}

.wave{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.castpic {
   width: 109px;
   height: 107px;
}

.castcard{
  width: 430 px;
  height: 200 px;
}

.bar2{
  height: 70px;
  width: 10px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar3{
  width : 10px;
  height : 40px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}

.bar4{
  width : 10px;
  height : 5px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar5{
  width : 10px;
  height : 20px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar6{
  width : 10px;
  height : 100px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar7{
  width : 10px;
  height : 16px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar8{
  width : 10px;
  height : 54px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar9{
  width : 10px;
  height : 80px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar10{
  width : 10px;
  height : 111px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar11{
  width : 10px;
  height : 63px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar12{
  width : 10px;
  height : 89px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar13{
  width : 10px;
  height : 47px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar14{
  width : 10px;
  height : 25px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar15{
  width : 10px;
  height : 66px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar16{
  width : 10px;
  height : 77px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar17{
  width : 10px;
  height : 44px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar18{
  width : 10px;
  height : 55px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar19{
  width : 10px;
  height : 90px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar20{
  width : 10px;
  height : 78px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar21{
  width : 10px;
  height : 93px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar22{
  width : 10px;
  height : 64px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar23{
  width : 10px;
  height : 34px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
.bar24{
  width : 10px;
  height : 57px;
  background-color: #DADADA;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:5px;
}
